<img src='./../assets/image/image.jfif' width="45px" height="45px" id="content_img">
        <h3 class="">DU Television</h3><br>
        DU TV is always gives important on Entertainment.DU Television, Inc. is an American media-services provider headquartered in Los Gatos, California, founded in 1997 by Reed Hastings and Marc Randolph in Scotts Valley, California.
        The company's primary business is its subscription-based streaming OTT service which offers online streaming of a library of films and television programs, including those produced in-house.[9] As of April 2019, Netflix had over 148 million paid subscriptions worldwide, including 60 million in the United States, and over 154 million subscriptions total including free trials.[8] It is available almost worldwide except in mainland China (due to local restrictions) as well as Syria, North Korea, and Crimea (due to US sanctions). The company also has offices in the Netherlands, Brazil, India, Japan, and South Korea
<br><br><br>
<h5>Contact Us:</h5>

<ul>
        <li>Phone:+91-8338868804</li>
        <li>email:du.television@about.com</li>
        <li>website:DU_Television.com</li>
</ul>

<h5>Follow Us:</h5>
<a href="#" class="fa fa-facebook"></a>
<a href="#" class="fa fa-twitter"></a>
<a href="#" class="fa fa-google"></a>
<a href="#" class="fa fa-youtube"></a>

      
<br>
<br><br><br><br><br><br>